@font-face {
    font-family: 'HakgyoansimBoadmarker';
    src: url('HakgyoansimBoadmarkerR.woff2') format('woff2'),
        url('HakgyoansimBoadmarkerR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

